%h1 Your relearnables for today,

%p What you should be re-learning today!

- @relearnables.each do |relearnable|

  %p
    %strong= relearnable.title

  %p= link_to relearnable.reference, relearnable.reference
  %p= relearnable.summary
  %br
