- @empty_container = params[:from_extension].present?

%h1 New relearnable

= render 'form'

- if !@empty_container
  = link_to 'Back', relearnables_path

:javascript
  var form = document.getElementById("relearnable_form");
  if (#{params[:title].present?} === true && #{params[:url].present?} === true) {
    form.submit();
  }
