// Place all the styles related to the relearnables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.relearnables_new {
  main {
    background-color: white;
    input {
      border-radius: 3px;
    }

    ::-webkit-input-placeholder {
      color: #bbb;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: #bbb;
    }
    ::-moz-placeholder {  /* Firefox 19+ */
      color: #bbb;
    }
    :-ms-input-placeholder {
      color: #bbb;
    }
  }
}
